{% if site.notification == true %}
	{% include notification.html %}
{% endif %}

<header class="site-header clearfix" role="banner">

	<div class="container clearfix">
		<a href="{{ site.baseurl }}" class="site-title">
			<img src="{{ site.baseurl }}/assets/img/logo.png" alt="reardestani logo" />
		</a>
		<h1 class="site-description">{{ page.head-slug }}</h1>
		<ul class="social-icons list-inline">
			<li><a href="http://twitter.com/reardestani" title="Twitter" target="_blank"><span class="icon icon-twitter-circled"></span></a></li>
			<li><a href="http://facebook.com/reardestani" title="Facebook" target="_blank"><span class="icon icon-facebook-circled"></span></a></li>
			<li><a href="http://github.com/reardestani" title="GitHub" target="_blank"><span class="icon icon-github-circled"></span></a></li>
			<li><a href="http://plus.google.com/reardestani" title="Google +" target="_blank"><span class="icon icon-gplus-circled"></span></a></li>
			<li><a href="http://pinterest.com/reardestani" title="Pinterest" target="_blank"><span class="icon icon-pinterest-circled"></span></a></li>
			<li><a href="mailto:contact@reardestani.ir" title="Email Me"><span class="icon icon-elusive-icons"></span></a></li>
		</ul>
	</div> <!-- /.container -->

</header>