---
layout: home
title: Official Blog
head-slug: This is my blog, Blimey!
---

{% include main-nav.html %} 

<section id="content" class="content">
	<div class="container blog clearfix">
		<div class="inner-content">
			<h2 class="title text-right">Welcome to my Blog</h2>
			<p class="text-right">I share, write, talk in here. Read aloud my following blog post. Feel free to show reaction to blog post by commenting.</p>

			<ul class="list-unstyled item-list blog-list">

				{% for post in paginator.posts %}
					{% if post.disable == false %}
						<li><a href="{{ post.url }}">{{ post.title }} - <span class="smaller-text">{{ post.date | date_to_string }}</span><span class="right">Read More</span></a></li>
					{% endif %}
				{% endfor %}	

				<!-- Include pagination -->
				{% include pagination.html %}

			</ul> <!-- /.item-list -->

		</div> <!-- /inner-content -->	
	</div> <!-- /container -->
</section> <!-- /content -->